body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 200px;
    background-color: rgb(0, 0, 0);
  }

  .container{
    border: 5px solid;
    border-color: rgb(75, 3, 53);background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: relative;
  }
  button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: beige;
    border: none;
    border-radius: 30px;
    color: grey;
  }
  #result{
    font-size: 40px;
    color: rgb(11, 10, 10);
    margin: 15px;
    padding: 10px;
  }
  #para{
    font-size: 30px;
    padding: 10px;
   
    
  }